$cart-item-container-height: 70px;
$cart-item-width: 525px;

.cart-container {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 15px;
}
.cart-item {
  display: flex;
  width: $cart-item-width;
  height: $cart-item-container-height;
  background-color: #fafafa;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}
.cart-item-image {
  width: $cart-item-container-height;
  height: $cart-item-container-height;
}
.cart-item-name-container{
  width: $cart-item-width / (5/2);
  padding-right: 5px;
  height: 100%;
}
.cart-item-name{
  text-decoration: none;
  color: black;
  margin-left: 8px;
}
.cart-item-property {
  width: 90%;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow-x: hidden;
  overflow-y: hidden;
  word-wrap: break-word;
  white-space: nowrap;
}
.cart-item-price{
  text-align: right;
}
.cart-item-info-container {
  padding-left: 10px;
  width: ($cart-item-width - ($cart-item-width / (5/2)) - 15px);
  height: 100%;
  gap: 12px;
}
.quantity-input-container {
  width: 80px;
  align-items: center;
  gap: 5px;
}
.quantity-input-field {
  width: 80px;
  height: 30px;
}
.unit-price, .total-price {
  font-size: 20px;
  font-weight: bolder;
}
.remove-item-button{
  width: fit-content;
  height: fit-content;
}

.order-info-container{

  width: 100%;
}
.price-info{
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  width: 100%;
}
.price-info ol{

}
.price-info ol > * > h6{
  font-size: 18px;
}
.price-info ol > * > h6 > span{
  font-weight: bolder;
  font-size: 20px;
}
#summary-register-form form{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-evenly;
}
#summary-register-form * > *{
  font-size: 16px;
}
#summary-register-form div{
  width: 45%;
}