<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org">
<head>
    <title></title>
</head>
<body>
<div th:fragment="track-list" class="my-5">
    <h4>Track Listing</h4>
    <hr class="w-100">
    <ol class="list-group list-group-numbered gap-2" type="1" id="trackContainer" >

    </ol>
    <button class="btn btn-primary" type="button" style="width: 100%; margin-top: 15px" onclick="addTrackField()">Add
        Track
    </button>
</div>
</body>
</html>