<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="/css/navbar-hover.css" rel="stylesheet">
    <title>Musicat</title>
</head>
<body>
<div th:fragment="filters" class="list-group">
    <h4 style="text-align: center">Filters</h4>
    <div>
        <h5 class="filter-title">Genres</h5>

        <div class="list-group list-group-flush text-align-start">
            <a th:each="genre :${genreList}" href="#" class="list-group-item list-group-item-action"
               th:text="${genre}"
               th:href="@{search(keyword=${genre})}"></a>
        </div>
    </div>
    <hr class="mt-5 mb-4"/>
    <div>
        <h5 class="filter-title">Year</h5>

    </div>
    <hr class="mt-5 mb-4"/>
</div>
</body>
</html>