<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<div  th:fragment="mini-cart" >
    <div id="mini-cart-content">
    <div  style="width: 450px" class="cart-item gap-1 mini-cart-item"
          th:insert="/fragments/mini-cart-item :: mini-cart-item"
         th:id="'mini-cartItemId' + ${cartItem.getCartItemId()}" th:each="cartItem :${cart.getCartItems()}">
    </div>
    </div>
    <div style="width: 100%; height: 64px; background-color: #2779a7; border: 1px solid black;" class="d-flex flex-row align-items-center justify-content-center gap-1 p-1 bg-gradient">
        <button class="btn btn-success" style="width: 150px" th:onclick="|window.location.href='@{/cart}'|">View Cart</button>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</body>
</html>