<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<div th:fragment="product-form">
    <div class="row gx-3 border-start border-end" style="justify-content: center">
        <h4 style="text-align: center">Album Information</h4>
        <hr class="mt-2 w-100">
        <div class="col-md-4">
            <div class="mb-3">
                <label hidden>
                    <input name="id" th:field="*{id}" hidden>
                </label>
                <label for="name" class="form-label">Name
                    <input name="name" id="name" type="text" th:field="*{name}" class="form-control"
                           required>
                </label>
                <div class="text-danger" th:if="${#fields.hasErrors('name')}"
                     th:errors="*{name}"></div>
            </div>
            <div class="mb-3">
                <label for="artist" class="form-label">Artist
                    <input name="artist" id="artist" type="text" th:field="*{artist}" class="form-control"
                           required>
                </label>
                <div class="text-danger" th:if="${#fields.hasErrors('artist')}"
                     th:errors="*{artist}"></div>
            </div>
            <div class="mb-3">
                <label for="year" class="form-label">Year
                    <input class="form-control" name="year" id="year" type="number" th:field="*{year}"
                           required>
                </label>
                <div class="text-danger" th:if="${#fields.hasErrors('year')}"
                     th:errors="*{year}"></div>

            </div>
            <div class="mb-3">
                <label for="genre" id="genre" class="form-label">Genre</label>
                <select class="form-select" aria-label="Select Genre" th:field="*{genre}" required>
                    <option value="">Select Genre</option>
                    <option th:each="genreOption : ${genreList}" th:text="${genreOption}"
                            th:value="${genreOption}"></option>
                </select>
                <div class="text-danger" th:if="${#fields.hasErrors('genre')}"
                     th:errors="*{genre}"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-3">
                <label for="description" class="form-label">Description
                    <input name="description" id="description" type="text" th:field="*{description}"
                           class="form-control" required></label>
                <div class="text-danger" th:if="${#fields.hasErrors('description')}"
                     th:errors="*{description}"></div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price
                    <input name="price" id="price" type="number" th:field="*{price}" class="form-control"
                           required></label>
                <div class="text-danger" th:if="${#fields.hasErrors('price')}"
                     th:errors="*{price}"></div>
            </div>
            <div class="mb-3">
                <label for="inventory.quantity" class="form-label">Stock Quantity
                    <input name="inventory.quantity" id="inventory.quantity" type="number"
                           th:field="*{inventory.quantity}" class="form-control" required>
                </label>
                <div class="text-danger" th:if="${#fields.hasErrors('inventory.quantity')}"
                     th:errors="*{inventory.quantity}"></div>
            </div>
            <div class="mb-3">
                <label for="imageFile" class="form-label">Artwork</label>
                <input id="imageFile" type="file" name="file" class="form-control"
                       accept="image/png, image/jpeg" required="required">
            </div>
        </div>
        <hr class="mt-0 w-100">
        <img id="preview" class="mx-auto mb-3 mt-3" alt="Image preview"
             style="width: 256px; height: 256px;" src="" th:src="@{${image}}">
        <hr class="mt-3 mb-1 w-100">
        <!--   <div class="d-grid gap-2 col-lg-6 mx-auto" style="width: 100%;">
                 <div class="d-grid col-6 mx-auto mb-3 justify-content-center">
                     <label for="added-track" class="form-label">Track Name
                         <input name="added-track" id="added-track" type="text" class="form-control">
                     </label>
                     <button id="add-track-button" class="btn btn-primary" type="button" onclick="addTrack()">Add
                         Track
                     </button>
                 </div>
             </div>-->


        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" onsubmit="console.log('submitted')" type="submit">Save Product</button>
        </div>
        <script>
            function addTrackField() {
                let trackTemplate =
                    '<li style="display: flex; align-items: center; gap: 10px" class="list-group-item">' +
                          '<input class="trackName" style="overflow-wrap: anywhere; height: 100%; width: 100%">' +
                          '<button class="btn-close border-1 border-dark"  onclick="deleteTrackField(this)"></button>' +
                    '</li>'

                const trackContainer = document.querySelector('#trackContainer');
                trackContainer.insertAdjacentHTML('beforeend', trackTemplate);
            }
            function deleteTrackField(e){
                e.parentNode.parentNode.remove();
            }
        </script>
    </div>

</div>
</body>
</html>