<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<div th:fragment="track-list" class="track-list-container my-5">
    <h4 style="text-align: center">Track Listing</h4>
    <hr class="mt-3 w-100">
    <ol style="padding-left: 0" class="list-group list-group-numbered" type="1" id="trackListing">
        <li th:if="${tracks !=null}" th:each="track : ${tracks}" th:text="${track.name}"
            class="fw-semibold list-group-item" style="text-align: start; word-wrap: anywhere"></li>
    </ol>
</div>
</body>
</html>