<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-aF2kV6ar2V8Wb9hJLz3f9XtCtOgXJnBnH5jO3qD4lZ6ESz2pLXwBbXeK5nV+G3rQFbZhnD0yD3v7K4pRQm9F7A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<div class="sticky-top" th:insert="/fragments/header :: header-nav"></div>
<div class="container my-2">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Register</h2>
                </div>
                <div class="card-body">
                    <form th:action="@{/register}" method="post"
                          th:object="${user}" class="form-horizontal" role="form">
                        <div class="form-group mb-3">
                            <label class="control-label w-100"> Username
                                <input type="text" th:field="*{username}"
                                       id="username" name="username"
                                       class="form-control" placeholder="Enter username" required/>
                            </label>
                            <div class="text-danger" th:if="${#fields.hasErrors('username')}"
                                 th:errors="*{username}">
                            </div>
                            <div class="text-danger" th:if="${dupleUsername != null}" th:text="${dupleUsername}">

                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="control-label w-100"> Password
                                <input
                                        type="password" th:field="*{password}"
                                        id="password" name="password"
                                        class="form-control" placeholder="Enter password" required/>
                            </label>
                            <div class="text-danger" th:if="${#fields.hasErrors('password')}"
                                 th:uerrors="*{password}">
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="control-label w-100"> First Name
                                <input
                                        type="text" th:field="*{firstName}"
                                        id="firstName" name="firstName"
                                        class="form-control" placeholder="Enter your first name"/>
                            </label>
                            <div class="text-danger" th:if="${#fields.hasErrors('firstName')}"
                                 th:errors="*{firstName}">
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="control-label w-100"> Email
                                <input
                                        type="text" th:field="*{email}"
                                        id="email" name="email"
                                        class="form-control" placeholder="xxx@mail.com" required/>
                            </label>
                            <div class="text-danger" th:if="${#fields.hasErrors('email')}"
                                 th:errors="*{email}">
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label class="control-label w-100">Country
                                <input
                                        type="text" th:field="*{addresses.country}"
                                        id="country" name="country"
                                        class="form-control" placeholder="Enter Country" required/>
                            </label>
                            <div class="text-danger" th:if="${#fields.hasErrors('addresses.country')}"
                                 th:errors="*{addresses.country}">
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label class="control-label w-100">City
                                <input
                                        type="text" th:field="*{addresses.city}"
                                        id="city" name="city"
                                        class="form-control" placeholder="Enter City" required/>
                            </label>
                            <div class="text-danger" th:if="${#fields.hasErrors('addresses.city')}"
                                 th:errors="*{addresses.city}">
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label class="control-label w-100">Postal code
                                <input
                                        type="number" th:field="*{addresses.postalCode}"
                                        id="postalCode" name="postalCode"
                                        class="form-control" placeholder="Enter Postal code" required/>
                            </label>
                            <div class="text-danger"
                                 th:if="${#fields.hasErrors('addresses.postalCode')}"
                                 th:errors="*{addresses.postalCode}">
                            </div>
                        </div>


                        <div class="form-group mb-3">
                            <label class="control-label w-100">Address 1
                                <input
                                        type="text" th:field="*{addresses.addressLine1}"
                                        id="address1" name="address"
                                        class="form-control" placeholder="Enter 1st address" required/>
                            </label>
                            <div class="text-danger"
                                 th:if="${#fields.hasErrors('addresses.addressLine1')}"
                                 th:errors="*{addresses.addressLine1}">
                            </div>
                        </div>
                        <div>
                            <button type="button" onclick="document.getElementById('extra-address').hidden= false"
                                    class="btn btn-primary">
                                Add extra Address
                            </button>

                        </div>
                        <div id="extra-address" class="form-group mb-3" hidden="hidden">
                            <label class="control-label w-100">Address 2 (optional)
                                <input
                                        type="text" th:field="*{addresses.addressLine2}"
                                        id="address2" name="address"
                                        class="form-control" placeholder="Enter 2nd address"/>
                            </label>
                            <div class="text-danger"
                                 th:if="${#fields.hasErrors('addresses.addressLine2')}"
                                 th:errors="*{addresses.addressLine2}">
                            </div>
                        </div>
                        <br><br>
                        <div style="display: grid;justify-content: center">
                            <button type="submit" class="btn btn-primary">Create Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
<script src="https://malsup.github.io/jquery.form.js"></script>
<script th:src="@{/js/user-registration.js}"></script>
</body>

</html>